body {
    background-image: url(../images/wp-magenta.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
  }
.container {
    padding-top: 12%;
}